/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Tela geral */
body {
    background: #f2f5f7;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Card do formulário */
form {
    background: #fff;
    padding: 20px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    margin-bottom: 30px;
}

/* Títulos */
h2, h3 {
    margin-bottom: 15px;
    color: #333;
    text-align: center;
}

/* Campos do formulário */
form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: .2s;
}

form input:focus {
    border-color: #0077ff;
    outline: none;
}

/* Botão */
button {
    width: 100%;
    background: #0077ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
}

button:hover {
    background: #005fcc;
}

/* Tabela */
table {
    width: 90%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

table th {
    background: #0077ff;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

table tr:nth-child(even) {
    background: #f9f9f9;
}
table tr:hover {
    background: #f1f1f1;
}